body {
  background-color: #E1EFF6;
  width: 100vw;
}

header {
  padding: 2rem 1rem 4rem;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  color: #2B50AA;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem;
}

.pharmacy__name {
  font-size: 1.25rem;
  font-weight: 900;
  color: #218380;
}

.pharmacy__duty {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 2rem;
}

.pharmacy__duty p {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pharmacy__image {
  width: 100%;
  padding: 1rem 0;
}

.pharmacy__image img {
  width: 100%;
  border-radius: 4px;
}

.pharmacy__map {
  width: 100%;
}

.pharmacy__map img {
  width: 100%;
}

@media (min-width: 1000px) {
  header {
    padding: 2rem 0 8rem;
  }

  .header__title {
    font-size: 3rem;
  }

  main {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 2rem;
    gap: 0;
  }

  .pharmacy__name {
    font-size: 2.5rem;
  }

  .pharmacy__duty {
    gap: 2rem;
    padding-top: 4rem;
  }

  .pharmacy__duty p {
    font-size: 1.15rem;
  }

  .pharmacy__image {
    width: 45%;
    padding: 0;
    max-width: 696px
  }
  
  .pharmacy__map {
    width: 100%;
    padding: 0 3rem;
  }
}