body {
  background-color: #E1EFF6;
}

.header {
  padding: 2rem 0 10rem;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  color: #2B50AA;
}